html body{
	margin:0px;
	padding: 0px;
	scroll-behavior: smooth;
	background-color: blanchedalmond;
}
header{
	background: url('assets/bgheader.png') top center;
	text-align: center;
	background-size:cover;
	color: white;
	width: 100vw;
}
#logo{
	width:90px;
	margin-top: 40px;
	padding-top: 40px;
}
#head {
	margin: auto;
	padding-top: 50px;
	padding-bottom: 150px;
	font-family: 'Poppins', sans-serif;
}
#head h2 {
	font-size: 45px;
	font-weight: 800;
  }
  #head h4{
	font-size: 25px;
  }
#headerButton{
	background-color: #FD5B49;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

#headerliner{
	width: 100vw;
}

.main{
	margin: auto;
	width: 100%;
	height: fit-content;
	margin-bottom: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}
#data1{
	margin-top: 15px;
	text-align: center;
	color:gray;
	width: 550px;
}
#data2{
	width: 700px;
	margin: 2px;
	text-align: center;
	height: fit-content;
	padding-left: 10px;
	font-size: 25px;
}
#daterange{
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 13px;
	color: grey;
}

.flex-Todaymatch {
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
}
.flex-Todaymatch > div{
	text-align: left;
	font-size: 20px;

}
#crest{
	width:30px;
}
#crestVS{
	width: 15px;
}
#hrs{
	background-color: #007bff;
	border-radius: 3px;
}
.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:center;vertical-align:top}
.w3-tablei th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px;width:100%;display:table}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-table-all {
	height: fit-content;
}

#datatable{
	margin: auto;
	margin-top: 90px;
	margin-bottom: 20px;

}

td{
	font-family: 'Poppins', sans-serif;
	color: black;
}

.flex-containery {
  display: flex;
  justify-content: center;
  display: inline-block;
}
.flex-containery > div {
  margin: 3px;
  font-size: 12px;
  width: 18px;
  text-align: center;
  border-radius: 3px;

}

#yWon{
	height: 17px;
	color: white;
	line-height: 17px;
	background-color: #04AA6D;;
}
#yLost{
	height: 17px;
	color: white;
	line-height: 17px;
	background-color: #E83737;
}

#yDraw{
	height: 17px;
	color: white;
	line-height: 17px;
	background-color: rgb(117, 101, 101);
}

.flex-top5{
	display:flex;
	border-style: solid;
	font-family: 'Poppins', sans-serif;
}
#dataGoal{
	width: 700px;
	margin: 2px;
	text-align: center;
	height: fit-content;
	padding-left: 10px;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}

.teamsFlag{
	width: 100%;
	height: 400px;
	background: url('assets/linestadium.jpg') center;
	background-size: cover;
	margin-top: 20px;
}

.flex-teamFlag{
	display:flex;
	justify-content: center;
}




#top5Stats {
	position: relative;
	width: 500px;
	height: 265px;
  
	overflow: hidden;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
  